{% extends 'base.html.twig' %}

{% block title %}
	{{ article.name }}
{% endblock %}

{% block content %}

	<div class="row">

		<div class="col-md-5">
			<img src="/uploads/{{ article.imageURL }}" alt="{{ article.name }}" class="img-fluid">
		</div>

		<div class="col-md-7">
			<h3>{{ article.name }}</h3>
			<hr>
			<p>{{ article.description }}</p>
			<hr>
			<p>{{ article.fournisseur }}</p>
			{{ (article.prix/ 100) |number_format(2, ',', '.') }}
			€
		</div>

	</div>
	<input type="button" value="imprimer" onclick="this.style.display='none';window.print();"/>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
{% endblock %}
